name: Analyze

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  analyze:
    if: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: 3.8.0

      - name: Install dependencies
        working-directory: insomniabutler_server
        run: dart pub get

      - name: Analyze
        working-directory: insomniabutler_server
        run: dart analyze --fatal-infos
